{% extends 'base.html' %}

{% block title %} Categories {% endblock %}

{% block content %}
<h1>This is the category page</h1>
<br>
<table border="1px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}