{% extends "base.html" %}

{% block title %} NovaCart - Homepage {% endblock %}

{% block content %}
    <style>
        .carousel-item img {
            width: 50%;
            height: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .carousel-control-prev-icon:after,
        .carousel-control-next-icon:after {
            content: '>'; 
            font-size: 30px;
            color: black;
        }

        .carousel-control-prev-icon:after {
            content: '<';
        }
    </style>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/Images/download.png" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/Images/online-shopping-background-website-mobile-app_269039-166.avif" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/Images/images.png" class="d-block" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br/><br><br>
    <section>
        <h2>Browse by items...</h2><br/>
        {% for item in items %}
        <div class="shadow p-3 mb-5 bg-body rounded">
        <article class="item">
            <h4>{{ item.item_name }}</h4>
            <p>Price: {{ item.item_price }}</p>
            <p>Date added: {{ item.date_added }}</p>
            <p>Current Availability: {{ item.available }}</p>
        </article>
        </div><br/>
        {% endfor %}
    </section>
    
    <section>
        <h2>Browse by category...</h2><br/>
        {% for category in categories %}
        <div class="shadow p-3 mb-5 bg-body rounded">
        <article class="category">
            <h4>{{ category.cat_name }}</h4>
            <p>{{ category.cat_description }}</p>
        </article>
        </div><br/>
        {% endfor %}
    </section>

{% endblock %}