<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <title>NovaCart - Home</title>
    </head>

    <body>
        <div id="navbar">
            <ul>
                <li><h1 style="margin-right: 40px; margin-left: 10px;">NovaCart</h1></li>
                <li id="navbar-item"><b>Home</b></li>
                <li id="navbar-item"><b>Categories</b></li>
                <li id="navbar-item"><b>Log In</b></li>
            </ul>
        </div>
    </body>
</html>