{% extends "base.html" %}

{% block title %} Sign In - NovaCart {% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    {% if 'successfull' in message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1>User Dashboard</h1><br/>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <strong>Name:</strong> {{ pw_to_check.name }}<br/>
        <strong>Email:</strong> {{ pw_to_check.email }}<br/>
        <strong>Passwrod:</strong> {{ pw_to_check.hashed_password }}
        <strong>Address:</strong> {{ pw_to_check.address }}<br/><br/>
        <a href="{{ url_for('user_update', user_id=pw_to_check.id) }}"><button type="button" class="btn btn-primary">Update Details</button></a>
        <a href="{{ url_for('deluser', user_id=pw_to_check.id) }}"><button type="button" class="btn btn-primary">Delete Myself</button></a>
    </div>
{% endblock %}