{% extends "base.html" %}

{% block title %} Users List {% endblock %}

{% block content %}
    <h1>User List</h1><br/>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Fav_Color</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.fav_color }}</td>
                    <td>{{ user.hashed_password }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}