{% extends "base.html" %}

{% block title %} User Signup {% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[1] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message[1] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    {% if name and email %}
        <h1>Hello {{ name }}!!</h1>
    {% else %}
        <h1>Enter your Details to Signup for free..!</h1>
        <br/>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <form method="POST">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                <br/>
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br/>
                {{ form.fav_color.label(class="form-label") }}
                {{ form.fav_color(class="form-control") }}
                <br/>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                <br/>
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control") }}
                <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    {% endif %}
{% endblock %}