* {
    font-size: 17px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}


/* IDs */
#header {
    width: 1440px;
    height: 48px;
    color: white;
    background-color: black;
}

#header-text {
    padding: 12px 136px 12px 445px;
}